listen=YES
listen_port=21
background=YES

anonymous_enable=YES
anon_root={{ server_root }}
local_enable=NO
write_enable=NO
anon_upload_enable=NO
anon_mkdir_write_enable=NO
anon_other_write_enable=NO

anon_world_readable_only=YES
connect_from_port_20=YES
hide_ids=YES
pasv_min_port=10000
pasv_max_port=60000

xferlog_enable=YES
ls_recurse_enable=YES
ascii_download_enable=YES
async_abor_enable=YES

idle_session_timeout=120
data_connection_timeout=300
accept_timeout=60
connect_timeout=60

local_umask=022
dirmessage_enable=YES

vsftpd_log_file=/var/log/vsftpd.log
xferlog_file=/var/log/xferlog
dual_log_enable=YES
#xferlog_std_format=NO
nopriv_user=nobody

setproctitle_enable=YES

ftpd_banner=Buildbot FTP

secure_chroot_dir=/var/empty

ftp_username=ftp

{% if ssl %}
ssl_enable=YES
allow_anon_ssl=YES
ssl_tlsv1=YES
ssl_sslv2=NO
ssl_sslv3=NO
require_ssl_reuse=NO
ssl_ciphers=HIGH

rsa_cert_file=/usr/local/etc/nginx/certs/ftp.buildbot.net.crt
rsa_private_key_file=/usr/local/etc/nginx/certs/ftp.buildbot.net.key
{% else %}
ssl_enable=NO
{% endif %}
