# Create and configure a Buildbot master to watch changes in Buildbot's git
# repo.
---
- name: 'Check for busy master'
  uri:
    url: "http://{{ web_host_name }}/api/v2/builds?complete=false"
  ignore_errors: True
  register: master_building

# only upgrade master when not busy
- when: master_building.status != 200 or master_building.json.meta.total == 0
  block:
  - name: Make sure we have an updated copy of Buildbot repository
    become: yes
    become_user: "{{ bb_user }}"
    git:
      repo: "{{ buildbot_repo }}"
      dest: "{{ bb_user_home }}/{{ buildbot_short }}"
      update: yes
      version: "{{bb_branch}}"
      accept_hostkey: True
    register: bb_repo_state
    environment: "{{ proxy_env }}"
    tags: bb-master

  - name: Make sure we have an updated copy of Buildbot travis repository
    become: yes
    become_user: "{{ bb_user }}"
    git:
      repo: "{{ buildbot_travis_repo }}"
      dest: "{{ bb_user_home }}/{{ buildbot_travis_short }}"
      update: yes
      version: "{{bb_travis_branch}}"
      accept_hostkey: True
    register: bbt_repo_state
    when: "bb_travis_branch is defined"
    environment: "{{ proxy_env }}"
    tags: bb-master

  - name: stop Supervisor service
    command: "supervisorctl stop {{ bb_service }}"
    ignore_errors: True
    when: "bb_repo_state is changed"
    tags: bb-master

  - name: Install/upgrade build master
    become: yes
    become_user: "{{ bb_user }}"
    script: "install-master {{ bb_user_home }}/{{ buildbot_short }} {{ bb_env_dir }}"
    when: "bb_repo_state is changed or bbt_repo_state is changed"
    environment: "{{ proxy_env }}"
    tags: bb-master

  - name: Create build master config
    become: yes
    become_user: "{{ bb_user }}"
    command: "{{ bb_env_dir }}/bin/buildbot create-master {{ bb_master_dir }}"
    args:
      creates: "{{ bb_master_dir }}/buildbot.tac"
    tags: bb-master

  - name: Make sure we have an updated copy of metabbotcfg repository
    become: yes
    become_user: "{{ bb_user }}"
    git:
      repo: "{{ metabbotcfg_repo }}"
      dest: "{{ bb_master_dir }}/{{ metabbotcfg_short }}"
      update: yes
      version: "{{bb_config_branch}}"
      accept_hostkey: True
    register: mbb_repo_state
    environment: "{{ proxy_env }}"
    tags: bb-master

  - name: Make sure we have a symlink for the master.cfg
    become: yes
    become_user: "{{ bb_user }}"
    file:
      src: "{{ bb_master_dir }}/{{ metabbotcfg_short }}/master.cfg"
      dest: "{{ bb_master_dir }}/master.cfg"
      state: link
    tags: bb-master

  - name: Make sure we have latest build slave passwords
    become: yes
    become_user: "{{ bb_user }}"
    copy:
      dest: "{{ bb_master_dir }}/{{ metabbotcfg_short }}/{{ item }}.pass"
      content: "{{ build_slaves[item].password }}"
      mode: "0600"
    with_items: "{{ slave_master_allocations[bb_config_branch] }}"
    # NOTE(sa2ajj): in case a password changes, a restart is also required, but
    # this is for future improvements.
    tags: bb-master

  - name: Make sure we have latest creds
    become: yes
    become_user: "{{ bb_user }}"
    copy:
      dest: "{{ bb_master_dir }}/{{ metabbotcfg_short }}/{{item.filename}}"
      content: "{{ item.content | to_json}}"
      mode: "0600"
    with_items:
        - filename: "buildbot-master.json"
          content: "{{ gke_buildbot_master_key }}"
        - filename: hyper.pass
          content: "{{ hyper_keys }}"
        - filename: github_oauth.pass
          content: "{{ github_oauth_keys[ansible_hostname] | default({}) }}"
    tags: bb-master

  - name: Make sure we have latest raw creds
    become: yes
    become_user: "{{ bb_user }}"
    copy:
      dest: "{{ bb_master_dir }}/{{ metabbotcfg_short }}/{{item.filename}}"
      content: "{{ item.content }}"
      mode: "0600"
    with_items:
        - filename: github_token
          content: "{{ github_api_token }}"
    tags: bb-master

  - name: Remove passwords for obsolete slaves
    become: yes
    become_user: "{{ bb_user }}"
    file:
      dest: "{{ bb_master_dir }}/{{ metabbotcfg_short }}/{{ item }}.pass"
      state: absent
    with_items: "{{ slave_master_allocations.obsolete }}"
    tags: bb-master

  - name: activate service account
    become: yes
    become_user: "{{ bb_user }}"
    command: "gcloud auth activate-service-account {{ gke_buildbot_master_key.client_email }} --key-file {{ bb_master_dir }}/{{ metabbotcfg_short }}/buildbot-master.json"
    tags: bb-master

  - name: activate service account to kube
    become: yes
    become_user: "{{ bb_user }}"
    command: "gcloud container clusters get-credentials metabuildbot --zone {{ gke_zone }} --project {{ gke_project }}"
    tags: bb-master

  # It's important to get the config and passwords before trying to upgrade the database.
  - name: Ensure latest schema of the database
    become: yes
    become_user: "{{ bb_user }}"
    command: "{{ bb_env_dir }}/bin/buildbot upgrade-master {{ bb_master_dir }}"
    when: "bb_repo_state is changed"
    tags: bb-master

  - name: restart Supervisor service
    command: "supervisorctl restart {{ bb_service }}"
    ignore_errors: True
    when: "master_building.status != 200 or bb_repo_state is changed or bbt_repo_state is changed or mbb_repo_state is changed"
    tags: bb-master
# vim:ts=2:sw=2:noai:nosi
