Port {{ sshd_port }}
{% for listen_address in listen_addresses %}
{% if listen_address %}
ListenAddress {{ listen_address }}
{% endif %}
{% endfor %}
# these are always disabled
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no

Subsystem sftp /usr/libexec/sftp-server

{% if extra_config %}
{{ extra_config }}
{% endif %}
