# Configure Buildbot DNS service
---
- name: install BIND v9.10
  pkgng:
    name: bind910
    state: present

- name: create rndc key
  shell: "rndc-confgen -a -A hmac-sha256 -u bind -c {{ namedb_dir }}/{{ rndc_key }}"
  args:
    creates: "{{ namedb_dir }}/{{ rndc_key }}"

- name: make sure necessary directories exist
  file:
    path: "{{ namedb_dir }}/{{item}}"
    mode: "0755"
    owner: bind
    group: bind
    state: directory
  with_items:
  - dynamic
  - master
  - slave
  - working

- name: make sure necessary master zones exist
  copy:
    src: "{{item}}"
    dest: "{{ namedb_dir }}/master/{{ item }}"
  with_items:
  - empty.db
  - localhost-forward.db
  - localhost-reverse.db
  notify: reload named

- name: install master zone files
  template:
    src: "{{ item }}"
    dest: "{{ namedb_dir }}/master/{{ item }}"
  with_items:
    - buildbot.net
    - 224-255.128-255.10.211.140.in-addr.arpa
  notify: reload named

- name: install BIND configuration files
  template:
    src: "{{ item }}"
    dest: "{{ namedb_dir }}/{{ item }}"
  with_items:
  - rndc.conf
  - named.conf
  - named.conf.options
  - named.conf.zones
  - named.conf.rfcs
  notify: reload named

- name: enable and start named service
  service:
    name: named
    enabled: true
    state: running

# vim:ft=yaml:nosi:noai:ts=2:sw=2
