---
- import_tasks: packages.yml
- import_tasks: sudo.yml
- import_tasks: hosts.yml
- include_tasks: syslog.yml
  when: ansible_distribution == "FreeBSD"
- include_tasks: sendmail.yml
  when: ansible_distribution == "FreeBSD"
- import_tasks: rootpw.yml
- import_tasks: ansible-pull.yml
- include_tasks: periodic.yml
  when: ansible_distribution == "FreeBSD"
- include_tasks: python-cert-symlink.yml
  when: ansible_distribution == "FreeBSD"
